---
import {Image} from "astro:assets";

import { getTypeColor } from '../../../functions/type.ts';

const { pkmn, level } = Astro.props;

const pkmnName = pkmn.display_name ? pkmn.display_name : pkmn["Species Name"]

const typeColor = getTypeColor(pkmn["Type1"]).color;
--- 
<a class="list-col-grow opacity-80 hover:opacity-100 transition-all duration-200 ease-in-out" href={`/hyaku-dex/pkmn/${pkmn["Species Name"]}`}>
    <div class="flex rounded-box rounded-sm p-[2px] gap-4" style={{
        background: `linear-gradient(0deg,${typeColor}90 0%, ${typeColor}40 40%, transparent 90%);`
      }}>
        <figure class="flex-none rounded-box">
            <Image 
            src={`https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/${pkmn['API ID']}.png`} 
            alt={`${pkmn["Species Name"]}`} 
            width="30"
            height="30"
            decoding="async"
            loading="lazy"
            />
        </figure>
        <div class="flex flex-col flex-1">
            <div>
                <h1 class="font-semibold text-sm tracking-wider">{pkmnName}</h1>
                {level && <div class="text-xs tabular-nums">Mininum level - {level}</div>}
            </div>
        </div>
    </div>
</a>
    