---
import Layout from "../../layouts/Layout.astro";

import SpeciesHeader from "../../components/dex/species/SpeciesHeader.astro";
import SpeciesImage from "../../components/dex/species/SpeciesImage.astro";
import TypeDefensesTable from "../../components/dex/species/TypeDefensesTable.astro";
import StatTable from "../../components/dex/species/StatTable.astro";
import EvolutionLine from "../../components/dex/species/evolution/EvolutionLine.astro";
import AbilityList from "../../components/dex/species/ability/AbilityList.astro";
import OtherInfo from "../../components/dex/species/OtherInfo.astro";
import SkillList from "../../components/dex/species/SkillList.astro";
import CapabilitiesList from "../../components/dex/species/CapabilitiesList.astro";
import MoveListLegend from "../../components/dex/species/moves/MoveListLegend.astro";
import MoveListTable from "../../components/dex/species/moves/MoveListTable.astro";

import { listPkmn, getPkmn, getPkmnDexInfo } from "../../components/functions/pokemon.ts";
import { listMoves } from '../../components/functions/move.ts';

// Find the specific Pokémon data based on the dynamic parameter
const { pkmnSpecies } = Astro.params;
const pkmn = getPkmn( pkmnSpecies );
if (!pkmn) {
  // Handle the case where the Pokémon is not found
  return Response.redirect('/404', 302);
}

export function getStaticPaths() {
    let ret: { params: { pkmnSpecies: string } }[] = [];
    for(let pkmn of listPkmn()){
        let static_param = {
            params: {
                pkmnSpecies: pkmn["Species Name"]
            }
        }
        ret.push(static_param)
    }    
    return ret;
}

const isMew = pkmn["Species Name"].toLowerCase() == "mew";
const isZygarde = pkmnSpecies.toLowerCase().includes("zygarde");
const isHoopa = pkmnSpecies.toLowerCase().includes("hoopa");
const moves = getPkmnDexInfo(pkmn["Species Name"]).move;

let otherMoveList = []
if(isMew) {
  otherMoveList = listMoves().map((move:any) => {
      const { Name, ...rest } = move;
      return { name: Name, ...rest };
  });
} else {
  otherMoveList = moves.other
}

---
<Layout>    
    <div class="p-[10px] flex flex-wrap gap-2">
        <div id="header" class="w-full flex flex-wrap gap-2">           
            <div class="card bg-base-200 text-neutral-content border-base-300 rounded-box border">
                <div class="card-body p-[15px] grid grid-col-4">
                    <a href="/hyaku-dex"><button class="btn btn-outline border-2 border-pkb-red hover:bg-pkb-red">Back to dex</button></a>     
                </div>
            </div>
            <SpeciesHeader pkmn={ pkmn }/>
        </div>        
        <div class="flex flex-wrap gap-2 w-full">
            <div class="flex flex-col gap-2 w-full md:w-[350px]">
                <SpeciesImage pkmn={ pkmn } />      
                <StatTable pkmn={pkmn} /> 
                <OtherInfo pkmn={pkmn} />
            </div>
            <div class="flex-1">
                <div class="card flex-1 bg-base-200 text-neutral-content border-base-300 rounded-box border">
                    <div class="card-body p-[15px]">                    
                        <div class="tabs tabs-lift min-h-max">

                            <input type="radio" name="pkmn_data_tabs" class="tab" aria-label="Moves" checked="checked" />
                            <div class="tab-content bg-base-100 border-base-300 p-2">
                                <MoveListLegend />
                                <div class="flex flex-wrap gap-2 justify-start">
                                    <div class="w-full md:flex-1">
                                        <MoveListTable title="Move list" pkmn={pkmn} enableLvCol={true} moves={ moves.lv } />
                                    </div>
                                    {isHoopa && <div class="w-full md:flex-1">
                                        <MoveListTable title="Linked move list" pkmn={pkmn} moves={ moves.linked } />
                                    </div>}    
                                    {isZygarde && <div class="w-full md:flex-1">                   
                                        <MoveListTable title="Zygarde Core move list" pkmn={pkmn} moves={ moves.core } />
                                    </div>}
                                    <div class="w-full md:flex-1">
                                        <MoveListTable title="TM/Tutor list" pkmn={pkmn} moves={otherMoveList} enableNatCol={true} enablePagination={true} /> 
                                    </div>       
                                </div>                      
                            </div>

                            <input type="radio" name="pkmn_data_tabs" class="tab" aria-label="Technical information" />
                            <div class="tab-content bg-base-100 border-base-300 p-2">                                 
                                <div class="flex flex-wrap gap-2">
                                    <div class="w-full md:w-auto">
                                        <AbilityList pkmn={pkmn} />
                                    </div>
                                    <div class="flex flex-1 flex-col gap-2 w-full md:w-auto">     
                                        <SkillList pkmn={pkmn} />                                   
                                    </div> 
                                    <div class="flex flex-1 flex-col gap-2 w-full md:w-auto">
                                        <CapabilitiesList pkmn={pkmn} />
                                    </div>
                                </div>
                            </div>

                            <input type="radio" name="pkmn_data_tabs" class="tab" aria-label="Type effectiveness" />
                            <div class="tab-content bg-base-100 border-base-300 p-2">                                 
                                <div class="flex flex-wrap gap-2">
                                    <div class="w-full md:w-auto">
                                        <TypeDefensesTable pkmn={ pkmn }/>
                                    </div>
                                </div>
                            </div>

                            <input type="radio" name="pkmn_data_tabs" class="tab" aria-label="Evolutions" />
                            <div class="tab-content bg-base-100 border-base-300 p-2">                    
                                    <EvolutionLine pkmn={pkmn} />
                            </div>
                        </div> 
                    </div>
                </div>   
            </div>  
        </div>
    </div>
</Layout>